{{#bs-navbar backgroundColor="dark" type="dark" as |navbar|}}
  <a class="navbar-brand" href="#">Meetup Tracker</a>
  {{#navbar.content}}
    {{#navbar.nav as |nav|}}
      {{#nav.item}}
        {{#nav.link-to "index"}}Home{{/nav.link-to}}
      {{/nav.item}}
    {{/navbar.nav}}
  {{/navbar.content}}

  {{#if session.isAuthenticated}}
    {{small-profile-info}}
  {{else}}
    {{login-button size='sm'}}
  {{/if}}
{{/bs-navbar}}
