<div class="jumbotron">
  <h1 class="display-4">Meetup Attendance Tracker</h1>
  <p class="lead">
    A simple way to track and record the attendance at your Meetup.com events
  </p>
  {{login-button size='lg'}}
</div>
