<div class="jumbotron">
  <h1 class="display-4">Meetup Attendance Tracker</h1>
  <p class="lead">
    A simple way to track and record the attendance at your Meetup.com events
  </p>
  {{#bs-button type="primary" size="lg" onClick=(action 'login')}}
    {{fa-icon "meetup" prefix="fab"}} Login with Meetup
  {{/bs-button}}
</div>
