<h1 class="mb-3">Groups</h1>

<div class="card-deck">
  {{#each model as |group|}}
    <div class="card">
      <img class="card-img-top" src="{{group.key_photo.photo_link}}" style="max-height: 320px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="{{group.key_photo.photo_link}}" style="max-height: 320px" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  {{/each}}
</div>