{{#if loginError}}
  <h3 class="mt-5 text-center">
    There was an error logging you in.
  </h3>

  <h5 class="mt-5 text-center">
    That's awkward. The trained monkeys are on it, I promise.
  </h5>
{{else}}
  {{loading-indicator text="Logging you in..."}}
{{/if}}

